.feature-card {
    -fx-background-radius: 15;
    -fx-padding: 25;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 10, 0, 0, 3);
    -fx-background-color: #e3f2fd;
    -fx-cursor: hand;
    -fx-transition: all 0.2s ease-in-out;
}

.feature-card:hover {
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 15, 0, 0, 4);
}

#setGoalButton:hover {
    -fx-background-color: #7e57c2;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}